<div id="<%= dom_id membership %>">
  <p>
    <strong>Beer club:</strong>
    <%= BeerClub.find_by id:membership.beer_club_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= User.find_by id:membership.user_id %>
  </p>

</div>
