<h1 class="title">Join a beer club!</h1>
<div class="unit">
<%= render "form", membership: @membership %>
</div>
<br>

<div class="text">
  <%= link_to "Back to memberships", memberships_path %>
</div>
