<div class="unit">
  <p>
    <strong>Name:</strong>
    <%= beer_club.name %>
  </p>

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>
  Members:<br>
  <% beer_club.users.each do  |user| %>
     <%= link_to user, user %> <br>
  
  <% end %>
</div>
