<p style="color: green"><%= notice %></p>

<h1>Beer clubs</h1>

<div id="beer_clubs">
  <% @beer_clubs.each do |beer_club| %>
  <li>
    <%= link_to beer_club.name, beer_club %>
  </li>
  <% end %>
</div>

<%= link_to "New beer club", new_beer_club_path %>
