<p style="color: green"><%= notice %></p>

<h1 class="title">Beer clubs</h1>

<p class="text"> <%= link_to "New beer club", new_beer_club_path if current_user %> </p>

<div class="flex-container">
  <% @beer_clubs.each do |beer_club| %>
  <div class="unit">
    <%= link_to beer_club.name, beer_club %>
  </div>
  <% end %>
</div>
