<p style="color: green"><%= notice %></p>
<h2>List of ratings</h2>
<%= link_to "Create new rating", new_rating_path %>

<div id="ratings">
<ul>
  <% @ratings.each do |rating| %>
    <li> <%= render rating %> 
    Made by: 
    <%= link_to current_user.username, current_user %> 
    </li>
  <% end %>
</ul>
 
</div>