<p style="color: green"><%= notice %></p>
<h1 class="title">Ratings</h1>
<%= link_to "Create new rating", new_rating_path %>

<div class="flex-container">
  
  <% @ratings.each do |rating| %>
  <div class= "unit">
    <%= render rating %> 
    Made by: 
    <%= link_to rating.user.username, rating.user %> 
    </div>
  <% end %>
</div>