<p style="color: green"><%= notice %></p>
<h2>List of ratings</h2>
<%= link_to "Create new rating", ratings_new_path %>
<div id="ratings">
 <% @ratings.each do |rating| %>
    <%= render rating %> 
 <% end %>
 
</div>