<p style="color: green"><%= notice %></p>
<h2>List of ratings</h2>
<%= link_to "Create new rating", new_rating_path %>
<div id="ratings">
<ul>
  <% @ratings.each do |rating| %>
    <li> <%= render rating %> <%= button_to 'delete', rating, method: :delete, form: {data:  {'turbo-confirm': 'Are you sure?'} } %> </li>
  <% end %>
</ul>
 
</div>