
<h1 class="title">Ratings</h1>

<div class="text">
  <%= link_to "Create new rating", new_rating_path if current_user %>
  <br>
  <%= "Total ratings: " + @ratings.count.to_s %>
</div>


<div class="flex-container">
  
  <% @ratings.each do |rating| %>
  <div class= "unit">
    <%= render rating %> 
    Made by: 
    <%= link_to rating.user.username, rating.user %> 
    </div>
  <% end %>
</div>