<div class="unit">
  <strong>
    <%= style.name %>
  </strong>

  <p>    
    <%= style.text %>
  </p>

  <p>
  <strong>Beers:</strong>
  <% beers = style.beers %>
  <% beers.each do |beer| %>
    <br>
    <%= link_to beer.name, beer %>
  <% end %>

</div>