<h1 class="title">Editing brewery</h1>

<%= render "form", brewery: @brewery %>

<br>

<div class="text">
  <%= link_to "Show this brewery", @brewery %> |
  <%= link_to "Back to breweries", breweries_path %>
</div>
