<h1 class="title">Breweries but in js!</h1>

      

<table id = "brewerydiv">
    <thead>
        <tr>
            <th> <span id="name">Name</span> </th>
            <th> <span id="year">Year</span> </th>
            <th> <span id="beers">Amount of beers</span> </th>
        </tr>
    </thead>
    <tbody>
        <div id ="brewerylist"></div>
    </tbody>
</table>