<div class="unit">
  <p>
    <strong>Name:</strong>
    <%= link_to beer.name, beer %>
  </p>

  <p>
    <strong>Style:</strong>
    <% style = Style.find_by id: beer.style_id %>
    <%= link_to style.name, style %>
  </p>

  <p>
    <strong>Brewery:</strong>

    <%brewery = Brewery.find_by id: beer.brewery_id%>
    
    <%= (link_to brewery.name, brewery) if brewery != nil%>
  </p>
  <p>
    
    <%= "Avg rating: " + beer.average_rating.to_s %>
    
  </p>
</div>
