<h2>Beers</h2>

<table id="beertable">
  <thead>
    <tr>
      <th> <button id="name">Name</button> </th>
      <th> <button id="style">Style</button> </th>
      <th> <button id="brewery">Brewery</button> </th>
    </tr>
  <thead>
  <tbody>
    <div id="beerlist"></div>
  </tbody>
</table>