/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .navibar {
    padding: 10px;
    background: hotpink;
    font-family: 'Trebuchet MS';
  }

  body {
    background: silver;
  }

  .title {
    font-family: monospace;
  }

  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-container > div{
    margin: 5px;
    padding: 10px;
  }

  .unit {
    font-family: monospace;
    background-color: goldenrod;
    width: fit-content;
    padding: 5px;
    margin: 5px;
  }

  .emoji:hover{
    display: inline-block;
    animation: spin 1s infinite linear;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes twist-up {
    to {
      transform: rotateX(360deg);
    }
  }