

<div class= "flex-container">
    <div class="unit">
        <h3 class= "title"> <%= @place.name %> </h3>
        <%= @place.status%> <br>
        <%= "#{@place.street}, #{@place.zip}"%>
        
    </div>
</div>